<div class="container user-login card col-sm-12 col-lg-8 col-xs-5">
	<section>
		<header>
			<div class='owwwly-logo'>
				<img src="../images/buho.png" alt="Owwwly logo" />
			</div>
			<h1><span>login</span></h1>
		</header>
		<div class="login-form" ng-controller="LoginController as login">
			<form action="" method="post" class="login" ng-submit="" novalidate>
				<div class="form-group">
					<!-- /auth/facebook -->
					<a href="#" class="btn btn-block btn-social-facebook">Log in with Facebook</a>
				</div>
				<div class="form-group ">
					<input type="text" class="form-control" ng-model="user.username" placeholder="Username" id="UserName">
					<i class="fa fa-user"></i>
				</div>
				<div class="form-group log-status">
					<input type="password" class="form-control" ng-model="user.email" placeholder="Password" id="Passwod">
					<i class="fa fa-lock"></i>
				</div>
				<div class="form-group">
					<label for="user_remember_me">Remember me</label>
					<input class="checkbox" type="checkbox" value="1" name="remember_me" id="user_remember_me" />
				</div>
				<div class="form-group clearfix">
					<button class="btn btn-primary pull-right" type="submit" ng-disabled="login.state=='submitting'">Log in</button>
					<!-- aut/forgot -->
					<small class="pull-left"><a class="btn btn-sm btn-link" href="#">Forgot your password?</a></small>
				</div>
			</form>
		</div>
	</section>
</div>