<div class="register">
	<p>New user?</p>
	<a class="btn btn-outline-primary pull-right" href="access/signup">Register</a>
</div>
<div class="container login card col-sm-12 col-lg-8 col-xs-5">
	<section>
		<header>
			<div class='owwwly-logo'>
				<img class="img-responsive" src="images/buho.png" alt="Owwwly logo" />
			</div>
			<h1><span>log in</span></h1>
		</header>
		<div class="login-form" ng-controller="LoginController as login">
			<form action="" method="post" class="login" ng-submit="" novalidate>
				<div class="form-group">
					<!-- /access/facebook -->
					<a href="#" class="btn btn-block btn-social-facebook">Log in with Facebook</a>
				</div>
				<div class="form-group ">
					<input type="text" class="form-control" ng-model="user.username" placeholder="Username" id="Username" autofocus="autofocus" required="required">
					<i class="fa fa-user"></i>
				</div>
				<div class="form-group log-status">
					<input type="password" class="form-control" ng-model="user.password" placeholder="Password" id="Password" autocomplete="off" required="required">
					<i class="fa fa-lock"></i>
				</div>
				<div class="form-group">
					<label for="user_remember_me">Remember me</label>
					<input class="checkbox" type="checkbox" value="1" name="remember_me" id="rememberMe" />
				</div>
				<div class="form-group clearfix">
					<button class="btn btn-primary pull-right" type="submit" ng-disabled="">Log in</button>
					<!-- /access/forgot -->
					<a class="btn btn-sm btn-link pull-left" href="#">Forgot your password?</a>
				</div>
			</form>
		</div>
	</section>
</div>