<div class="container">
	<div class="header clearfix">
		<div class='owwwly-logo'>
			<img src="../images/buho.png" alt="Owwwly logo" />
		</div>
		<nav>
			<ul class="nav nav-pills pull-xs-right">
				<li class="nav-item">
					<a class="nav-link active" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact</a>
				</li>
			</ul>
		</nav>
		<h3 class="text-muted">Owwwly app</h3>
	</div>

	<div class="jumbotron">
		<div class='owwwly-logo'>
			<img src="../images/buho.png" alt="Owwwly logo" />
		</div>

		<h1 class="display-3">No more headaches planning events</h1>
		<p class="lead"><strong>owwwly</strong> brings you the possibility to plan great meetings with your friends and colleagues. They can suggest and vote for dates, places and plans easily. </p>
		<p><a class="btn btn-lg btn-success" href="#" role="button">Try it out</a></p>
	</div>
