<div class="main">
	<div class="header clearfix">
		
		<div class='owwwly-logo pull-left'>
			<img class="img-responsive" src="images/buho.png" alt="Owwwly logo" />
		</div>
		<nav class="pull-right">
			<ul class="nav nav-pills">
				<li class="nav-item bsignup">
					<a class="nav-link" href="#/access/signup">sign up</a>
				</li>
				<li class="nav-item blogin">
					<a class="nav-link" href="#/access/login">login</a>
				</li>
			</ul>
		</nav>
		<h3 class="text-muted">Owwwly app</h3>
	</div>
	<ng-include="'owwwlyLogo.html'"></ng-include>

	<div class="jumbotron">
		<div class='owwwly-logo'>
			<img class="img-responsive" src="images/buho.png" alt="Owwwly logo" />
		</div>

		<h1 class="display-3">No more headaches planning events</h1>
		<p class="lead"><strong>owwwly</strong> brings you the possibility to plan great meetings with your friends and colleagues. They can suggest and vote for dates, places and plans easily. </p>
		<p><a class="btn btn-lg btn-success" href="#/access/signup" role="button">Try it out</a></p>
	</div>
